* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  background-color: #ffffff;
}

.container {
  background-color: #ffffff;
  width: 40%;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

label {
  font-size: 1rem;
  margin-bottom: 10px;
}

input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: poppins, sans-serif;
}

input[type="date"]:hover {
  border-color: #555;
}

input[type="date"]:focus {
  border-color: #007bff;
  background-color: #fff;
}

button {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background-color: #333333;
}

button:active {
  background-color: #000000;
}

.result {
  font-size: 1.5rem;
  color: #000000;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
  font-size: 0.8rem;
}

@media (min-width: 1025px) {
  .container {
    width: 30%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 50%;
  }
  body {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 90%;
  }
  body {
    padding: 10px;
    padding: 8px 16px;
    font-size: 0.9rem;
  }
  input[type="date"] {
    width: 100%;
  }
  button {
    width: 100%;
  }
  .result {
    font-size: 1.2rem;
  }
  label {
    font-size: 1rem;
  }
}
